.header {
    padding: 0px 50px 0px 80px;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
    text-align: center;
    padding: 100px 0px 25px 0px;
    margin: 0 auto;

}

.subtitle {
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    padding: 0px 25px 0px 25px;
    margin: 0 auto;
}

.subtitle__text-green {
    color: #158078;
    font-weight: bold;
}

.subtitle__text-italic {
    font-style: italic;
}

.contentbox {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-family: Arial;
}

.sidebar {
    width: 25%;
    text-align: center;
}

.sidebar__foto {
    border-radius: 100px;
    width: 70px;
    height: 70px;
}

.sidebar__text {
    margin: 0 auto;
}

.sidebar__text-bold {
    font-size: 14px;
    font-weight: bold;
}

.sidebar__text-small {
    font-size: 10px;
}

.content {
    width: 75%;
    text-indent: 25px;
}

.content__text {
    margin: 0px 50px 0px 20px;
    text-align: justify;
    font-size: 14px;
}

.content__text-bold {
    font-weight: bold;
}